[submodule "themes/navigator-hugo"]
	path = themes/navigator-hugo
	url = https://github.com/themefisher/navigator-hugo
[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
