<article class="post-full post page no-image">
    <header class="post-full-header">
        <h1 class="post-full-title">{{.Title | title}}</h1>
    </header>

    <section class="post-full-content">
        <div class="kg-card-markdown">
        {{ .Content }}
        {{/*
        <img src={{.Params.image}} />
        <div style="position:relative;float:right;font-family:Arial, sans-serif;font-size:0.6em;font-weight:bold" >Photo by <a href="{{ .Params.photourl }}" target="_blank" rel="noopener noreferrer">{{ .Params.photographer }}</a> on <a href="https://unsplash.com">Unsplash</a>
        </div>
        */}}
        <figure style="position:relative">
          <img style="display:block" src={{.Params.image}} alt={{.Params.alt}} >
          <figcaption style="position:absolute;bottom:0;left:0;right:0;text-align:right;font-size:0.6em;font-family:Arial,sans-serif;font-weight:bold">Photo by <a href={{.Params.photourl}}>{{.Params.photographer}}</a> on Unsplash</figcaption>

        </figure>
    </section>
</article>
