<article class="post-full post page no-image">
    <header class="post-full-header">
        <h1 class="post-full-title">{{.Title | title}}</h1>
    </header>

    <section class="post-full-content">
        <div class="kg-card-markdown">
        {{ .Content }}
        {{/*
        <img src={{.Params.image}} />
        <div style="position:relative;float:left;font-family:Arial, sans-serif;font-size:0.6em;font-weight:bold" >Photo by <a href="{{ .Params.photourl }}" target="_blank" rel="noopener noreferrer">{{ .Params.photographer }}</a> on <a href="https://unsplash.com">Unsplash</a>
        </div>
        */}}
        <figure>
          <img src={{.Params.image}} alt={{.Params.alt}} >
          <figcaption>Photo by <a href={{.Params.photourl}}>{{.Params.photographer}}</a> on Unsplash</figcaption>
        </figure>
    </section>
</article>
